:root {
    --logo_visibility: hidden;                              /* values: hidden, visibile. */
    --logo_colour: 220,20,60;                               /* values: r, g, b. - If not replaced, will colour the Discord logo to this colour.  */
    --logo_image: url(https://i.imgur.com/p5h1wgI.png);     /* value: image URL, none - custom image to replace discord logo. Give it value 'none' to not replace logo */
                                                            /* Should be at least 55px wide to cover the default logo, and 16px to not overflow, though it can be as big as you want it to be. */
    /*--new_logo_image: none;                                 /* Give it value 'none' to not replace discord logo */                                                        
}

/* Discord Logo Icon */
.wordmarkWindows__05c46 {
    visibility: var(--logo_visibility);
    content: var(--logo_image);
}

/* Discord Logo Colour */
.wordmarkWindows__05c46 > svg > g {
    fill: rgb(var(--logo_colour));
}
