/* #### REMOVING USELESS BUTTONS #### */

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}
/* Hide GIF picker button */
button[aria-label="Open GIF picker"] {
    display: none;
}
/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}