//META{"name":"Fishies","description":"Learning how to theme - Based on the Neutron X Theme","author":"me :)","version":"0.1 alpha"}*//
@import url("https://samtf.github.io/DiscordThemes/themes/base/xcore.css");
@import url('https://fonts.googleapis.com/css?family=Quicksand');
:root {
--bgImage: url('https://i.imgur.com/Sx44Gwp.png');
--HomeButtonImg: url('https://i.imgur.com/FFH4UjT.png');
--brightness: 0;
--customFont: 'Quicksand';
--PrimaryColor01: #DC143C;
--PrimaryColorRGBA: rgba(220,20,60,.15);
--PrimaryColor02: #000000;
}
