/**
* @name Fishies
* @description A dark and lovely animated theme that's gonna make you wanna stare at the fhsing swimming around all day.
* @author SamFreelancePolice
* @version 2022
* @authorId 278543574059057154
*/

/* The Main CSS file */
@import url(https://samtf.github.io/DiscordThemes/base/Fishies.css);

/* Custom Variables */
:root {
    /* Transparency */
    --transparencyalpha:			0.15;		/* general darkness of the app*/
	--messagetransparency:			0.0;		/* additional shadows behind messages, set to 0 to remove boxes */
	--guildchanneltransparency:		0.75;		/* transparency of the server list  */
	--chatinputtransparency:		0.0;		/* transparency of the chat text input box */	
	--memberlisttransparency:		0.0;		/* transparency of the members list  */

    /* UI Font */
    --font:                         Quicksand;

    /* Main Accent colour pretty much for everything */
	--accentcolor:					220,20,60;	/* RGB */

    /* Discord Background */
	--background:					url(https://i.imgur.com/8M2Q5Uy.gif);

    /* Top-Left Logo */
    --logo_visibility:              visibile;
    --logo_image:                   url(https://i.imgur.com/p5h1wgI.png);

    /* Emoji Picker Icon */
    --emoji_icon:                   url(https://emotes.freelancepolice.org/images/Maxxer.png);
}